* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

.display{
    margin: 0;
    height: 50px;
    box-shadow: 0 0.2em 0.1em -5px #00000033;
    border-radius: 0.2em;
}

#displayGrid {
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    width: 320px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 140px);
}


#checkCount {
    font-size: 2.5em;
}

#sessionClock, #breakClock {
    font-size: 3em;
}

#playPause {
    margin: auto;
    width: 37%;
    height: 100%;
    padding-bottom: 8px;
}

.running {
    color: rgb(255, 60, 0);
    box-shadow: 0 0.2em 0.1em #00000033;
}



#formGrid {
    margin: auto;
    margin-bottom: 50px;
    width: 680px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 2px;
    grid-template-columns: repeat(4, 150px);

}

#formGrid * {
    font-size: 1.5em;
}

#formGrid input {
    border: none;
    box-shadow: 0 0.3em 0.2em -5px #00000022;
    border-radius: 0.2em;
    border: 1px solid transparent;
}

button {
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 60, 0);
}

button:hover{
    box-shadow: 0 0.2em 0.2em #00000055;
}

button:active{
    transform: scale(1.05);
}

button:focus {
    outline: none;
    box-shadow: 0 0.3em 0.2em 0px #00000055;
}

#formGrid input:focus {
    outline: none;
    border: 1px solid rgb(255, 60, 0);
    box-shadow: 0 0.3em 0.2em -3px #00000055;
}
